#navbar{
    background-color: var(--navbarColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: var(--navbarTopSpacing);
    left: 50%;
    transform: translateX(-50%);
    height: var(--navbarHeight);
    width: var(--navbarWidth);
    z-index: 10;
    padding-inline: var(--navbarPadding);
    border-radius: var(--navbarBorderRadius);
}

#navbar-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

#navbar-name{
    font-size: var(--navbarTextSize);
    color: var(--navbarTextColor);

}

#navbar-links ul li a {
    font-size: var(--navbarTextSize);
    color: var(--navbarTextColor);
    text-decoration: none;

}
