:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --bgColor: rgb(255, 255, 255);
  --bgColor: rgba(206, 146, 178, 0.777);
  --bgColor: rgba(183, 174, 165, 0.5);
  --bgColor: rgb(214, 208, 202);
  --textColor: #fff;
  --headingFontSize: 2rem;
  --slidesHeight: 100vh;
  --slidesPadding: 10%;

  --navbarColor: rgba(0, 0, 0, 0.3);
  --navbarColor: rgb(96, 22, 49);
  --navbarColor: rgba(96, 22, 49, 0.8);
  --navbarTextColor: var(--textColor);
  --navbarTextSize: 1.2rem;
  --navbarHeight: 7%;
  --navbarWidth: 80%;
  --navbarTopSpacing: 10px;
  --navbarPadding: 20px;
  --navbarBorderRadius: 0.7rem;

  --aboutTextImageGap: 20px;
  --aboutImageWidth: 300px;
  --aboutTextMaxWidth: 50%;

  --skillsHeadingFontSize: var(--headingFontSize);
  --skillsHeadingListGap: 20px;
  --skillsVerticalGap: 20px;
  --skillsBoxBorderColor: black;
  --skillsBoxBorderRadius: 10px;

  --projectsHeadingFontSize: var(--headingFontSize);
  --projectsListWidth: 100%;
  --projectsListHeight: 100%;
  --projectsVerticalGap: 20px;
  --projectsBoxBorderColor: black;
  --projectsBoxBorderRadius: 10px;

  --contactListVerticalGap: 10px;
  --contactHeadingListGap: 10px;
  --contactLinkColor: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* testing */
  /* --1: red;
  --2: green;
  --3: blue;
  --4: blueviolet;
  --5: orange; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#navbar-spacer{
  height: calc(var(--navbarHeight) + var(--navbarTopSpacing));
}