:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --bgColor: rgb(255, 255, 255);
  --bgColor: rgba(206, 146, 178, 0.777);
  --bgColor: rgba(183, 174, 165, 0.5);
  --textColor: #fff;
  --headingFontSize: 2rem;
  --slideHeight: 100vh;
  --slidesPadding: 10%;

  --navbarColor: rgba(0, 0, 0, 0.3);
  --navbarColor: rgb(96, 22, 49);
  --navbarColor: rgba(96, 22, 49, 0.8);
  --navbarTextColor: var(--textColor);
  --navbarTextSize: 1.2rem;
  --navbarHeight: 7%;
  --navbarWidth: 80%;
  --navbarTopSpacing: 10px;
  --navbarPadding: 20px;
  --navbarBorderRadius: 0.7rem;

  --aboutTextImageGap: 20px;
  --aboutImageWidth: 300px;
  --aboutTextMaxWidth: 50%;

  --skillsHeadingFontSize: var(--headingFontSize);
  --skillsHeadingListGap: 20px;
  /* --skillsListWidth: 80%;
  --skillsListHeight: 80%; */
  --skillsVerticalGap: 20px;
  /* --skillsHorizontalGap: 20px; */
  --skillsBoxBorderColor: black;
  --skillsBoxBorderRadius: 10px;

  --projectsHeadingFontSize: var(--headingFontSize);
  --projectsListWidth: 80%;
  --projectsListHeight: 80%;
  --projectsVerticalGap: 60%;

  --contactListVerticalGap: 10px;
  --contactHeadingListGap: 10px;
  --contactLinkColor: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* testing */
  /* --1: red;
  --2: green;
  --3: blue;
  --4: blueviolet;
  --5: orange; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#navbar-spacer{
  height: calc(var(--navbarHeight) + var(--navbarTopSpacing));
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
